@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.font-title {
  font-family: var(--font-title);
}

.font-text {
  font-family: var(--font-text);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-text);
}
